<h2>
    <span class="pl">O mnie</span>
    <span class="en">About me</span>
</h2>

<p class="pl">Studiuję Informatykę Stosowaną (ze specjalizacją w grafice komputerowej i multimediach) na Politechnice Łódzkiej. Mam 22 lata i jestem obecnie na trzecim roku studiów inżynierskich.</p>
<p class="en">I study Applied Computer Science (with a specialization in computer graphics and multimedia) at the Lodz University of Technology. I am 22 years old and currently in my third year of engineering studies.</p>

<div class="cv-download">
    <span class="pl">Pobierz moje CV: </span>
    <span class="en">Download my CV: </span>
    <a href="assets/CV - Emilia Szczerba (pl).pdf" class="btn" download>pl</a>
    <a href="assets/CV - Emilia Szczerba (eng).pdf" class="btn" download>eng</a>
</div>