<link rel="stylesheet" href="css/style.css">


<h2>
  <span class="pl">Kontakt</span>
  <span class="en">Contact</span>
</h2>

<h3>Email</h3>
<p class="highlight">emilkaszczerba04@gmail.com</p>
<br>

<h3>LinkedIn</h3>
<a href="https://www.linkedin.com/in/emilia-szczerba-96b5a0159/">
  <p class="highlight">emilia-szczerba</p>
</a>
<br>

<h3>GitHub</h3>
<a href="https://github.com/emilycb97">
  <p class="highlight">@emilycb97</p>
</a>
<br>

<h3>Discord</h3>
<p class="highlight">@emily_cb97</p>
<br>

<h3>Itch.io</h3>
<a href="https://emily-cb97.itch.io/">
  <p class="highlight">emily-cb97</p>
</a>
