<div id="projects-list">
  <h2>Moje Projekty</h2>
  <div class="grid-container">

    <a href="partials/catnetic/catnetic.html" class="card-link">
      <div class="card">
        <h3>Strona Gry: Catnetic Storm</h3>
        <p>Zespołowy projekt strony promującej autorską grę wideo. Realizacja obejmowała stworzenie interfejsu z galerią, aktualnościami (devlogiem) oraz systemem dla użytkowników.</p>
        <div class="card-tags">
          <span>PHP</span>
          <span>MySQL</span>
          <span>teamwork</span>
        </div>
        <p class="project-date">marzec 2026</p>
      </div>
    </a>

    <a href="partials/3D/apple.html" class="card-link">
      <div class="card">
        <h3>Wyrzeźbione jabłko</h3>
        <p>Ćwiczenie rzeźbienia cyfrowego (sculptingu) wykonane w programie ZBrush. Głównym celem projektu było oddanie organicznego kształtu, mikroskopijnych detali powierzchni oraz naturalnej tekstury owocu.</p>
        <div class="card-tags">
          <span>Zbrush</span>
          <span>sculpting</span>
          <span>3D</span>
        </div>
        <p class="project-date">marzec 2026</p>
      </div>
    </a>

    <a href="partials/tinyglade/tinyglade.html" class="card-link">
      <div class="card">
        <h3>Tajemnicze Opactwo (Tiny Glade)</h3>
        <p>Projekt koncepcyjny tajemniczego opactwa zrealizowany w grze Tiny Glade. Skupienie na budowaniu nastroju, kompozycji architektury oraz projektowaniu otoczenia (Environment Design).</p>
        <div class="card-tags">
          <span>environment design</span>
          <span>Tiny Glade</span>
          <span>3D design</span>
        </div>
        <p class="project-date">styczeń 2026</p>
      </div>
    </a>

    <a href="https://christopher-bhang97.figma.site/" target="_blank" class="card-link">
      <div class="card">
        <h3>Projekt UI/UX: Strona WWW</h3>
        <p>Interaktywna makieta witryny wykonana w Figmie. Zawiera prototyp z animacjami oraz 5 widoków w wersji Desktop i Mobile (Landing Page, Menu, Kontakt i sekcje produktowe).</p>
        <div class="card-tags">
          <span>UI/UX</span>
          <span>Figma</span>
          <span>web design</span>
        </div>
        <p class="project-date">styczeń 2026</p>
      </div>
    </a>

    <a href="partials/kompozycja/kompozycja.html" class="card-link">
      <div class="card">
        <h3>Projekty z Kompozycji</h3>
        <p>Zbiór analitycznych ćwiczeń graficznych. Praktyczne badanie praw kompozycji, napięć wizualnych i projektowanie powtarzalnych struktur.</p>
        <div class="card-tags">
          <span>struktury</span>
          <span>visual design</span>
          <span>teoria obrazu</span>
        </div>
        <p class="project-date">grudzień 2025 - luty 2026</p>
      </div>
    </a>

    <a href="partials/reklama/reklama.html" class="card-link">
      <div class="card">
      <h3>Materiały Reklamowe (Print)</h3>
      <p>Projekt dwustronnej ulotki składanej (3xDL) oraz wielkoformatowego baneru. Praktyczne zastosowanie zasad DTP, projektowania układów typograficznych i przygotowania plików do druku.</p>
      <div class="card-tags">
        <span>print design</span>
        <span>DTP</span>
        <span>Adobe Express</span>
      </div>
      <p class="project-date">grudzień 2025</p>
    </div>
    </a>

    <a href="partials/3D/weapon.html" class="card-link">
      <div class="card">
        <h3>Broń z Genshin Impact (3D)</h3>
        <p>Model 3D typu high-poly ze świata Genshin Impact. Broń Kinich'a.</p>
        <div class="card-tags">
          <span>Blender</span>
          <span>3D modeling</span>
          <span>high-poly</span>
        </div>
        <p class="project-date">listopad 2025</p>
      </div>
    </a>

    <a href="partials/fraktale/fraktale.html" class="card-link">
      <div class="card">
        <h3>Interaktywne Fraktale (Processing)</h3>
        <p>Projekt z zakresu Creative Coding. Interaktywny generator fraktali 2D (m.in. drzewo fraktalne i trójkąt Sierpińskiego) napisany w języku Java (Processing), uruchamiany na żywo w przeglądarce.</p>
        <div class="card-tags">
          <span>creative coding</span>
          <span>Processing (Java)</span>
          <span>generative art</span>
        </div>
        <p class="project-date">maj 2025</p>
      </div>
    </a>

    <a href="partials/skz_animation/animation.html" class="card-link">
      <div class="card">
        <h3>Animowany Plakat (Krita)</h3>
        <p>Ożywienie statycznego plakatu wektorowego. Projekt zrealizowany w programie Krita, demonstrujący umiejętność pracy z osią czasu, klatkami kluczowymi i dynamiką obrazu.</p>
        <div class="card-tags">
          <span>motion design</span>
          <span>animacja 2D</span>
          <span>Krita</span>
        </div>
        <p class="project-date">maj 2025</p>
      </div>
    </a>

    <a href="partials/skz_poster/poster.html" class="card-link">
      <div class="card">
      <h3>Plakat Wydarzenia (Vector)</h3>
      <p>Projekt wektorowego plakatu promujący koncert w 2025 roku. Wykonany w programie Inkscape, skupiający się na typografii i spójnej identyfikacji wizualnej.</p>
      <div class="card-tags">
        <span>grafika wektorowa</span>
        <span>Inkscape</span>
        <span>plakat</span>
      </div>
      <p class="project-date">kwiecień 2025</p>
    </div>
    </a>

    <a href="partials/game/game.html" class="card-link">
      <div class="card">
        <h3>Gra 2048</h3>
        <p>Logiczna gra zaimplementowana w formacie SVG.</p>
        <div class="card-tags">
          <span>gra SVG</span>
          <span>muzyka w tle</span>
        </div>
        <p class="project-date">styczeń 2025</p>
      </div>
    </a>

    <a href="partials/XSLT/xslt.html" class="card-link">
      <div class="card">
        <h3>Baza K-pop (XML & XSLT)</h3>
        <p>Zaawansowana transformacja danych. Baza XML przetwarzana za pomocą skryptów XSLT do formatów XHTML, SVG oraz TXT.</p>
        <div class="card-tags">
          <span>XML / XSLT</span>
          <span>bazy danych</span>
        </div>
        <p class="project-date">styczeń 2025</p>
      </div>
    </a>

    <a href="partials/kpop/kpopIdols.xml" target="_blank" class="card-link">
      <div class="card">
        <h3>Baza K-pop (XML & CSS)</h3>
        <p>Strukturalna baza danych powiązana z formatowaniem CSS i walidowana za pomocą pliku DTD. Przeglądarka renderuje dane bezpośrednio z XML.</p>
        <div class="card-tags">
          <span>XML / DTD</span>
          <span>CSS</span>
        </div>
        <p class="project-date">grudzień 2024</p>
      </div>
    </a>

    <a href="partials/svg/halloween.html" class="card-link">
      <div class="card">
        <h3>Noc Halloween</h3>
        <p>Klimatyczna ilustracja wektorowa stworzona w formacie SVG.</p>
        <div class="card-tags">
          <span>ilustracja SVG</span>
          <span>animacja</span>
        </div>
        <p class="project-date">listopad 2024</p>
      </div>
    </a>

    <a href="partials/sydney/index.html" target="_blank" class="card-link">
      <div class="card">
        <h3>Projekt: Sydney</h3>
        <p>Interaktywny przewodnik po największym mieście Australii. Styl klasyczny z wykorzystaniem Google Fonts i tabel.</p>
        <div class="card-tags">
          <span>HTML/CSS</span>
          <span>podróże</span>
        </div>
        <p class="project-date">październik 2024</p>
      </div>
    </a>

    <a href="partials/notion/notion.html" class="card-link">
      <div class="card">
        <h3>Organizacja Podróży (Notion)</h3>
        <p>Kompleksowe planowanie wyjazdów (Ateny, Kraków). Projekty obejmują szczegółowe harmonogramy dni, budżetowanie, research miejsc oraz logistykę.</p>
        <div class="card-tags">
          <span>Notion</span>
          <span>logistyka</span>
          <span>zarządzanie czasem</span>
        </div>
        <p class="project-date"> lipiec 2022 / wrzesień 2023 </p>
      </div>
    </a>

  </div>
</div>

<script src="../../js/script.js"></script>