<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset= "UTF-8" />
        <title> Sydney </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="img/favicon.ico" >
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Meddon&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
	</head>

    <body>
        <h1> ~ Sydney ~ </h1>
        <img src="img/skyline.jpg" alt="Panorama miasta Sydney o zmierzchu z jasno oświetlonymi
             drapaczami chmur na tle różowo-fioletowego nieba. Widoczna jest również wieża Sydney Tower
             oraz zabudowania nad wodą." class="full-width-image">
        <p>
            <span class="bold"> Sydney</span>, największe miasto Australii 🐨, to dynamiczna metropolia pełna kontrastów,
            gdzie nowoczesna architektura współgra z pięknem przyrody, a każdy zakątek skrywa niespodzianki.
            Znane na całym świecie ikony, takie jak <span class="bold"> Opera w Sydney </span> czy <span class="bold"> Sydney Harbour Bridge</span>, to jedynie
            początek tego, co miasto ma do zaoferowania. Ciepły, słoneczny klimat, malownicze plaże i bogata
            historia sprawiają, że Sydney to miejsce, które trzeba zobaczyć przynajmniej raz w życiu.
        </p>

        <div class = "container">
            <div class = "text">
                <h2 class = bold> Opera w Sydney </h2>
                <p>
                    ✧ <b>Ikona architektury.</b> Jeden z najbardziej rozpoznawalnych budynków na świecie,
                    <span class="bold">Opera w Sydney</span> 🎶,
                    to symbol nie tylko miasta, ale całej Australii. Jej unikalny kształt, przypominający
                    żagle, oraz spektakularne położenie nad wodą sprawiają, że jest obowiązkowym punktem
                    każdej wycieczki. Oprócz możliwości podziwiania jej z zewnątrz, warto zajrzeć do środka
                    na koncert lub zwiedzanie z przewodnikiem. ✧
                </p>
            </div>
            <div class = "image">
                <a href="https://www.youtube.com/watch?v=x7wSYs839F8" target="_blank">
                    <img src="img/operahouse.jpg" alt="Na obrazie widoczna jest słynna Opera w Sydney,
                         której futurystyczna, biała bryła kontrastuje z ciepłymi barwami zachodzącego słońca.
                         Niebo jest pełne rozmytych, pastelowych barw, od pomarańczu i różu po delikatny fiolet.
                         Woda w porcie jest spokojna i odbija kolorowe niebo oraz budynek opery,
                         tworząc harmonijny, romantyczny klimat.">
                </a>
            </div>
        </div>

        <div class = "container">
            <div class = "image">
                <a href="https://www.youtube.com/watch?v=n18-R1ZZwTg" target="_blank">
                    <img src="img/bridge.jpg" alt="Monumentalny stalowy most łukowy, Sydney Harbour Bridge,
                          rozciąga się nad spokojnymi wodami. Na pierwszym planie są skały przybrzeżne,
                         na których siedzą dwie osoby, patrzące w kierunku mostu. W tle widać miasto i
                         jego budynki. Niebo jest pokryte grubymi, ciemnymi chmurami, nadając fotografii
                         dramatyczny charakter.">
                </a>
            </div>
            <div class = "text">
                <h2 class = bold> Sydney Harbour Bridge </h2>
                <p>
                    ✧ <b> Spacer nad wodą.</b> Kolejną ikoną miasta jest monumentalny
                    <span class="bold">Sydney Harbour Bridge</span> ⚜️,
                    który łączy centrum z północnymi dzielnicami. Odważni mogą wspiąć się na szczyt mostu,
                    skąd roztacza się zapierający dech w piersiach widok na zatokę, Operę i panoramę miasta.
                    Dla tych, którzy wolą mniej ekstremalne przygody, spacer po moście to równie piękne
                    doświadczenie. ✧
                </p>
            </div>
        </div>

        <div class = "container">
            <div class = "text">
                <h2 class = bold> Zachwycające plaże </h2>
                <p>
                    ✧ Sydney to raj dla miłośników plażowania i sportów wodnych.
                    Najbardziej znana jest <span class="bold">Bondi Beach</span> 🌊, przyciągająca surferów i miłośników słońca
                    z całego świata. Spacer po nadmorskiej trasie z <span class="bold">Bondi do Coogee Beach</span> 🌅
                    oferuje niesamowite widoki na wybrzeże, a w okolicy można znaleźć wiele mniejszych,
                    spokojniejszych plaż, takich jak <span class="bold">Manly Beach</span> ⛵️
                    oraz <span class="bold">Bronte Beach</span>. ✧
                </p>
            </div>
            <div class = "image">
                <a href="https://www.youtube.com/watch?v=tGrcHUGCqmU" target="_blank">
                    <img src="img/beach.jpg" alt="Widok na plażę z czystą, jasną wodą oraz piaszczystym
                         brzegiem. Na pierwszym planie widać kilka osób spacerujących po plaży. W tle
                         znajdują się wzgórza z licznymi budynkami mieszkalnymi oraz pas zieleni.
                         Na niebie pojawiają się efektowne chmury o złotawym odcieniu, sugerujące
                         wczesny poranek lub późne popołudnie.">
                </a>
            </div>
        </div>

        <div class = "container">
            <div class = "image">
                <a href="https://www.youtube.com/watch?v=wZihT4gxvkA" target="_blank">
                    <img src="img/garden.jpg" alt="Ścieżka w ogrodzie botanicznym otoczona
                         jest bujną roślinnością. Nad ścieżką unoszą się gałęzie dużego drzewa,
                         a po bokach widać liczne, zielone palmy oraz krzewy z jaskrawymi pomarańczowymi
                         kwiatami. Całość tworzy egzotyczną i relaksującą atmosferę, idealną na spacer.">
                </a>
            </div>
            <div class = "text">
                <h2 class = bold> Ogród Botaniczny i Parki </h2>
                <p>
                    ✧ Jeśli masz ochotę na chwilę relaksu wśród zieleni, wybierz się do
                    <span class="bold">Królewskiego Ogrodu Botanicznego</span> 🎍. Znajduje się on w samym centrum miasta,
                   tuż przy Operze, a oferuje nie tylko piękne rośliny, ale również wspaniałe widoki na zatokę.
                    Warto również odwiedzić pobliskie parki, takie jak <span class="bold">Hyde Park</span> 🌵
                    czy <span class="bold">Centennial Park</span> 🌴,
                   gdzie można odpocząć od miejskiego zgiełku. ✧
                </p>
            </div>
        </div>

        <div class = "container">
            <div class = "text">
                <h2 class = bold> Życie nocne i kultura </h2>
                <p>
                    ✧ Sydney tętni życiem o każdej porze dnia.
                    Wieczorami miasto ożywa dzięki niezliczonym barom, restauracjom i klubom.
                    Dzielnica <span class="bold">The Rocks</span> 🌃 oferuje nie tylko bogatą historię, ale i doskonałe miejsca
                    do spędzenia wieczoru. Z kolei dla miłośników sztuki i kultury miasto przygotowało muzea,
                    galerie oraz festiwale – na czele z <span class="bold">Vivid Sydney</span> 🎉, który przekształca miasto w spektakularne
                    widowisko świetlne. ✧
                </p>
            </div>
            <div class = "image">
               <a href="https://www.youtube.com/watch?v=h7lPRL16RZc" target="_blank">
                    <img src="img/night.png" alt="Zdjęcie przedstawia tętniące życiem nabrzeże Sydney podczas
                         nocnego festiwalu Vivid. Na pierwszym planie ludzie siedzą wzdłuż promenady, patrząc
                         na spektakl świetlny. Most Harbour Bridge i Opera w Sydney są oświetlone kolorowymi
                         projekcjami, które zmieniają się dynamicznie na tle purpurowego i różowego nieba
                         o zachodzie słońca. Woda w porcie odbija migoczące światła, tworząc dynamiczny
                         i pełen energii krajobraz.">
               </a>
            </div>
        </div>

        <div class = "container">
            <div class = "image">
                <a href="https://www.youtube.com/watch?v=76SRHNPJ1zk" target="_blank">
                    <img src="img/mountains.jpg" alt="Na obrazie widoczne jest malownicze górskie pasmo,
                         otoczone dolinami pełnymi gęstych lasów. W centrum zdjęcia, w tle, słońce zachodzi
                         za horyzont, co tworzy efekt rozmycia chmur oraz długich promieni świetlnych
                         rozchodzących się na niebie. Kolory zachodu przechodzą od intensywnych żółci
                         i pomarańczy do delikatnych fioletów i błękitów, co nadaje fotografii spokojny,
                         majestatyczny charakter. Jest to zdjęcie okolic Gór Błękitnych,
                         niedaleko Sydney.">
                    </a>
            </div>
            <div class = "text">
                <h2 class = bold> Wycieczki za miasto </h2>
                <p>
                    ✧ Sydney jest doskonałą bazą wypadową do odkrywania piękna Nowej Południowej Walii.
                    Wybierz się na wycieczkę do <span class="bold">Blue Mountains</span> 🏔, gdzie czekają na Ciebie dramatyczne
                    krajobrazy, wodospady i legendarne formacje skalne, takie jak <span class="bold">Trzy Siostry</span>.
                    Dla fanów wina, region <span class="bold">Hunter Valley</span> 🍷 oferuje degustacje
                    jednych z najlepszych win Australii. ✧
                </p>
            </div>
        </div>

<hr>
<h2 class = "facts">~ Ciekawostki o Sydney ~</h2>
<div class = "con_facts">
    <div class = "text">
        <ul>
            <li>
                <span class="list"> Ikoniczna Opera w Sydney </span>
                <p class = "padding">Sydney Opera House, zaprojektowany przez Jørna Utzona,
                to jedno z najbardziej rozpoznawalnych dzieł architektury na świecie, otwarte w 1973 roku.</p>
            </li>
            <li>
                <span class="list"> Sydney Harbour Bridge </span>
               <p class = "padding"> Most Sydney Harbour, jeden z najdłuższych stalowych łuków na świecie, oferuje możliwość wspinaczki,
               z której rozciąga się widok na ocean, Operę i miasto.</p>
            </li>
            <li>
                <span class="list"> Błękitna Plaża </span>
               <p class = "padding"> Bondi Beach to największa plaża w Sydney, znana z surferskiego stylu życia,
               przyciągająca miliony turystów rocznie.</p>
            </li>
            <li>
                <span class="list"> Wielokulturowość </span>
                <p class = "padding">Sydney jest jednym z najbardziej wielokulturowych miast, z około 40% mieszkańców urodzonych poza Australią.</p>
            </li>
            <li>
                <span class="list"> Największy naturalny port </span>
                <p class = "padding">Port w Sydney jest największym naturalnym portem na świecie, rozciągającym się na prawie 20 kilometrów.</p>
            </li>
            <li>
                <span class="list"> Zabytkowe dzielnice </span>
                <p class = "padding">The Rocks to najstarsza dzielnica Sydney, pełna zabytkowych budynków i wąskich uliczek,
               gdzie historia miasta zaczęła się w 1788 roku.</p>
            </li>
            <li>
                <span class="list"> Taronga Zoo </span>
                <p class = "padding">Zoo Taronga, z widokiem na port, to dom dla unikalnych australijskich zwierząt, takich jak kangury i koale.</p>
            </li>
        </ul>
    </div>
    <div class = "text">
        <ul>
            <li>
                <span class="list"> Blue Mountains </span>
                <p class = "padding">Blue Mountains, znane z niesamowitych widoków i trzech sióstr,
               zawdzięczają swoją niebieską barwę olejkowi eukaliptusowemu.</p>
            </li>
            <li>
                <span class="list"> Popularne miejsce filmowe</span>
                <p class = "padding">Sydney jest miejscem kręcenia wielu znanych filmów i seriali, w tym <em>Home & Away</em> oraz <em>Matrix</em>.</p>
            </li>
            <li>
                <span class="list"> Wina z Hunter Valley </span>
                <p class = "padding">Hunter Valley, jedna z najpopularniejszych regionów winiarskich Australii, słynie z doskonałego Semillon.</p>
            </li>
            <li>
                <span class="list"> Australia’s Oldest Park </span>
                <p class = "padding">Hyde Park, założony w 1810 roku, jest jednym z najstarszych parków w Australii, idealnym miejscem na pikniki.</p>
            </li>
            <li>
                <span class="list"> Sydney Festival </span>
                <p class = "padding">Co roku w styczniu odbywa się Sydney Festival, przyciągający artystów z całego świata,
                oferujący różnorodne wydarzenia kulturalne.</p>
            </li>
            <li>
                <span class="list"> Wydarzenia sportowe </span>
               <p class = "padding">Sydney była gospodarzem Letnich Igrzysk Olimpijskich w 2000 roku, które uznawane są za jedne
               z najlepiej zorganizowanych w historii.</p>
            </li>
            <li>
                <span class="list"> Muzyka Aborygenów </span>
               <p class = "padding">Didgeridoo to tradycyjny instrument muzyczny Aborygenów, znany z unikalnego brzmienia.
                    Jest używany w ceremoniach i jest symbolem kultury australijskiej.</p>
            </li>
        </ul>
    </div>
</div>

<hr>
<h2 class = "facts">~ Koszty ~</h2>
<table>
    <tr class="bold">
        <th>Usługa</th>
        <th>Niski budżet</th>
        <th>Średni budżet</th>
        <th>Wysoki budżet</th>
    </tr>
    <tr>
        <th>Zakwaterowanie</th>
        <td>293 zł</td>
        <td>444 zł</td>
        <td>578 zł</td>
    </tr>
    <tr>
        <th>Wyżywienie</th>
        <td>67 zł</td>
        <td>174 zł</td>
        <td>307 zł</td>
    </tr>
    <tr>
        <th>Transport</th>
        <td>54 zł</td>
        <td>196 zł</td>
        <td>449 zł</td>
    </tr>
    <tr>
        <th>Atrakcje</th>
        <td>0zł </td>
        <td>64 zł</td>
        <td>128 zł</td>
    </tr>
</table>
<p></p>
<table>
    <tr>
        <th>Lot</th>
        <td>5290 zł</td>
        <td>6027 zł</td>
        <td>6027 zł</td>
    </tr>
    <tr>
        <th>Ubezpieczenie</th>
        <td>85 zł</td>
        <td>130 zł</td>
        <td>195 zł</td>
    </tr>
</table>
<p class="table">Koszty są wyliczone dla jednej osoby na dzień. Wyjad tygodniowy we wrześniu.</p>
<hr>

<h2 class = "facts">~ Wskazówki ~</h2>
<div class = "container">
    <div class = "text">
        <ul>
            <li><b>Czas pobytu:</b> Aby w pełni doświadczyć Sydney, warto zarezerwować przynajmniej trzy pełne dni.</li>
            <li><b>Najlepszy czas na wizytę:</b> Idealnym okresem na podróż do Sydney jest wiosna (wrzesień-listopad) oraz jesień (marzec-maj).</li>
            <li><b>Ubrania:</b> Nie musisz zabierać grubych kurtek, ponieważ najniższe temperatury w Sydney oscylują wokół 10°C.</li>
            <li><b>Rezerwacje:</b> Najpopularniejsze atrakcje warto zarezerwować z wyprzedzeniem, ponieważ cieszą się dużym zainteresowaniem.</li>
            <li><b>Dbanie o środowisko:</b> Pamiętaj, aby nie śmiecić w miejscach publicznych, takich jak plaże. Mieszkańcy Sydney bardzo dbają o czystość swojego miasta.li>
            <li><b>Ochrona przeciwsłoneczna:</b> Zawsze używaj kremu z wysokim filtrem SPF, nawet zimą. Dobrze jest mieć nakrycie głowy i zawsze mieć przy sobie dużo wody do picia.</li>
            <li><b>Obuwie:</b> Warto spakować wygodne buty do chodzenia, zarówno po chodnikach, jak i po szlakach górskich.</li>
            <li><b>Strój kąpielowy:</b> Kąpielówki są w Sydney niezbędne! Warto też zabrać buty do pływania. Mieszkańcy często noszą koszulki UV (rashie) na kostium kąpielowy, by chronić się przed słońcem.</li>
            <li><b>Wyjścia wieczorne:</b> Planując wieczorne wyjścia do klubów czy barów, pamiętaj o spakowaniu luźnego, ale eleganckiego stroju w australijskim stylu.</li>
            <li><b>Transport publiczny:</b> Sydney ma dobrze rozwiniętą sieć transportu publicznego. Korzystaj z karty Opal na autobusy, pociągi, promy i tramwaje. Łatwo ją doładować online lub w wielu punktach.</li>
            <li><b>Internet i Wi-Fi:</b> Darmowe Wi-Fi znajdziesz w kawiarniach, bibliotekach i centrach handlowych, ale warto mieć lokalną kartę SIM.</li>
            <li><b>Kultura napiwków:</b> W Australii nie ma obowiązku zostawiania napiwków,ale możesz zostawić około 10% w restauracjach, jeśli jesteś zadowolony z obsługi.</li>
            <li><b>Plaże:</b> Sydney jest znane z pięknych plaż, takich jak Bondi Beach czy Manly Beach. Warto jednak zwrócić uwagę na flagi wyznaczające bezpieczne miejsca do kąpieli, ponieważ prądy morskie mogą być silne. Ratownicy obecni są na większości plaż.</li>
            <li><b>Zakupy:</b> Queen Victoria Building oraz Pitt Street Mall to jedne z najbardziej popularnych miejsc do robienia zakupów. Znajdziesz tam zarówno luksusowe marki, jak i lokalne sklepy z pamiątkami i modą.</li>
            <li><b>Bezpieczeństwo:</b> Sydney to ogólnie bezpieczne miasto, ale jak wszędzie, należy zachować ostrożność w nocy i pilnować swoich rzeczy, zwłaszcza w tłocznych miejscach turystycznych.</li>
            <li><b>Elektryczność:</b> W Australii używa się wtyczek typu I i napięcia 230V. Jeśli przyjeżdżasz z innego kraju, pamiętaj o zabraniu adaptera do gniazdek.</li>
            <li><b>Zwyczaje lokalne:</b> Australijczycy są znani z luźnego i przyjaznego podejścia, ale warto pamiętać o szacunku dla lokalnych zwyczajów i tradycji, zwłaszcza podczas odwiedzania miejsc związanych z kulturą rdzennych Australijczyków (Aborygenów).</li>
            <li><b>Nagłe wypadki:</b> W razie nagłego wypadku, zadzwoń pod numer „000” (odpowiednik polskiego 112).</li>
            <li><b>Waluta:</b> W Sydney obowiązuje dolar australijski (AUD). Przelicznik wynosi: 1 AUD = 2,66 PLN, 1 PLN = 0,38 AUD.</li>
            <li><b>Szczepienia:</b> Zanim wyjedziesz do Australii, upewnij się, że masz aktualne szczepienia, takie jak WZW A i B oraz tężec. Choć nie są one obowiązkowe, warto skonsultować się z lekarzem w celu uzyskania rekomendacji dotyczących szczepień przed podróżą.</li>
        </ul>
    </div>
    <div class = "image">
            <img src="img/sidewalk.jpg" alt="Widok na przestronną, nowoczesną ulicę w Sydney podczas zachodu słońca.
                 Po lewej stronie znajduje się szeroki chodnik, a po środku biegną tory tramwajowe, po których porusza
                 się nowoczesny tramwaj zbliżający się do przystanku. Po prawej stronie stoi Queen Victoria Building,
                 zabytkowy budynek o klasycznej architekturze z charakterystyczną kopułą na dachu. Po lewej widoczne są
                 współczesne budynki z witrynami sklepów, a na chodniku spokojnie przechadzają się ludzie. Złote światło
                 zachodzącego słońca oświetla fasady budynków, nadając scenie ciepły, przyjemny klimat.">
    </div>
</div>

<hr>

<p class= "table">~ ✧ ~ W Sydney powstał teledysk do jednej z piosenek mojego ulubionego zespołu. Zachęcam do obejrzenia: <a href="https://www.youtube.com/watch?v=gWaCN9vpRK8&t=1s" target="_blank">[link]</a>. ~ ✧ ~</p>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/2dIgFjalVxs4ThymZ67YCE?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<hr>

    </body>
</html>
