<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Tajemnicze Opactwo - Tiny Glade - Emilia Szczerba</title>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class = "subpage">

<div class="container">
    <a href="../../index.html?page=projects" class="btn-back">← Wróć do spisu projektów</a>

    <h1>Projekt: Tajemnicze Opactwo (Tiny Glade)</h1>

    <div class="description">
        <p>Zadaniem projektowym było stworzenie koncepcji <strong>Tajemniczego Opactwa</strong> przy użyciu narzędzia Tiny Glade. Projekt skupia się na budowaniu klimatu poprzez architekturę i oświetlenie, co stanowi element moich prac nad rozwojem w kierunku <strong>Environment Designu</strong>. Poniżej znajduje się pełna dokumentacja wizualna projektu.</p>

        <a href="Tajemnicze opactwo - Emilia Szczerba.pdf" download class="btn-download">Pobierz pełny projekt (PDF)</a>
    </div>

    <iframe src="Tajemnicze opactwo - Emilia Szczerba.pdf" class="pdf-viewer"></iframe>
</div>

</body>
</html>