<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Catnetic Storm - Strona WWW - Emilia Szczerba</title>
  <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="icon" type="image/png" href="../../assets/favicon.png">
</head>

<body class = "subpage">
<button class="lang-toggle" onclick="toggleLanguage()">EN</button>

<div class="container">
  <a href="../../index.html?page=projects" target="_top" class="btn-back">
    <span class="pl">← Wróć do spisu projektów</span>
    <span class="en">← Back to projects</span>
  </a>

  <h1>
    <span class="pl">Strona Gry: Catnetic Storm</span>
    <span class="en">Game Website: Catnetic Storm</span>
  </h1>


  <div class="description">
    <div class="pl">
      <p>Projekt strony internetowej promującej autorską grę wideo "Catnetic Storm". Strona została zrealizowana w 3-osobowym zespole (podczas gdy nad samą grą pracował zespół 5-osobowy). Zgodnie z wytycznymi projektowymi, witryna pełni rolę huba informacyjnego – zawiera zaimplementowaną galerię screenshotów, devlog (aktualności) oraz sekcję społecznościową.</p>
    </div>
    <div class="en">
      <p>A website project promoting an original video game "Catnetic Storm". The website was developed by a 3-person team (while the game itself was developed by a 5-person team). According to the project guidelines, the site acts as an information hub – it includes an implemented screenshot gallery, a devlog (news), and a community section.</p>
    </div>
    <a href="https://catnetic-storm.page.gd" target="_blank" class="btn-download">
      <span class="pl">Strona Live</span>
      <span class="en">Live Website</span>
    </a>
    <a href="https://github.com/emilycb97/Catnetic-Storm-Website" target="_blank" class="btn-download">
      <span class="pl">GitHub (Kod)</span>
      <span class="en">GitHub (Code)</span>
    </a>
    <a href="https://raspberrycola.itch.io/catnetic-storm" target="_blank" class="btn-download">
      <span class="pl">Gra na Itch.io</span>
      <span class="en">Game on Itch.io</span>
    </a>
  </div>

  <h2>
    <span class="pl">Galeria Widoków Strony</span>
    <span class="en">Website Views Gallery</span>
  </h2>

  <div class="gallery">
    <img src="1.png" alt="Widok strony głównej 1" onclick="openLightbox(0)">
    <img src="2.png" alt="Widok strony głównej 2" onclick="openLightbox(1)">
    <img src="3.png" alt="Widok strony głównej 3" onclick="openLightbox(2)">
    <img src="4.png" alt="Widok podstrony 'O grze'" onclick="openLightbox(3)">
    <img src="5.png" alt="Widok galerii" onclick="openLightbox(4)">
    <img src="6.png" alt="Widok zdjęcia w galerii" onclick="openLightbox(5)">
    <img src="7.png" alt="Widok forum" onclick="openLightbox(6)">
    <img src="8.png" alt="Widok posta na forum" onclick="openLightbox(7)">
    <img src="9.png" alt="Widok posta na forum z komentarzem" onclick="openLightbox(8)">
    <img src="10.png" alt="Widok zarządzania postami na forum" onclick="openLightbox(9)">
    <img src="10.2.png" alt="Widok edycji posta na forum" onclick="openLightbox(10)">
    <img src="11.png" alt="Widok devloga" onclick="openLightbox(11)">
    <img src="12.png" alt="Widok posta na devlogu" onclick="openLightbox(12)">
    <img src="13.png" alt="Widok profilu użytkownika" onclick="openLightbox(13)">
    <img src="13.1.png" alt="Widok panela administratora" onclick="openLightbox(14)">
    <img src="13.2.png" alt="Widok zarządzania  postami na devlogu od strony administratora" onclick="openLightbox(15)">
    <img src="13.3.png" alt="Widok zarządzania zdjęciami w galerii od strony administratora" onclick="openLightbox(16)">
    <img src="13.4.png" alt="Widok dodawania posta do devloga od strony administratora" onclick="openLightbox(17)">
    <img src="13.5.png" alt="Widok dodawania pliku do galerii od strony administratora" onclick="openLightbox(18)">
    <img src="13.6.png" alt="Widok zarządzania użytkownikami od strony administratora" onclick="openLightbox(19)">
    <img src="13.7.png" alt="Widok zarządzania komentarzami na devlogu od strony administratora" onclick="openLightbox(20)">
    <img src="13.8.png" alt="Widok zarządzania postami na forum od strony administratora" onclick="openLightbox(21)">
    <img src="13.9.png" alt="Widok zarządzania komentarzami na forum od strony administratora" onclick="openLightbox(22)">
    <img src="14.png" alt="Widok logowania" onclick="openLightbox(23)">
    <img src="15.png" alt="Widok rejestracji" onclick="openLightbox(24)">
  </div>
</div>

  <div id="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <button class="arrow prev" onclick="changeImage(-1)">&#10094;</button>
    <img id="lightbox-img" src="" alt="">
    <button class="arrow next" onclick="changeImage(1)">&#10095;</button>
  </div>

<script src="../../js/script.js"></script>

</body>
</html>