<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Catnetic Storm - Strona WWW - Emilia Szczerba</title>
  <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body class = "subpage">
<div class="container">
  <a href="../../index.html?page=projects" target="_top" class="btn-back">← Wróć do spisu projektów</a>

  <h1>Strona Gry: Catnetic Storm</h1>

  <div class="description">
    <p>Projekt strony internetowej promującej autorską grę wideo "Catnetic Storm". Strona została zrealizowana w 3-osobowym zespole (podczas gdy nad samą grą pracował zespół 5-osobowy). Zgodnie z wytycznymi projektowymi, witryna pełni rolę huba informacyjnego – zawiera zaimplementowaną galerię screenshotów, devlog (aktualności) oraz sekcję społecznościową.</p>
    <p>Link do wersji live może być chwilowo niedostępny ze względu na trwający proces publikacji na darmowym hostingu.</p>
    <a href="https://catnetic-storm.page.gd" target="_blank" class="btn-download">Strona Live</a>
    <a href="https://github.com/emilycb97/Catnetic-Storm-Website" target="_blank" class="btn-download">GitHub (Kod)</a>
    <a href="https://raspberrycola.itch.io/catnetic-storm" target="_blank" class="btn-download">Gra na Itch.io</a>
  </div>

  <h2>Galeria Widoków Strony</h2>
  <div class="gallery">
    <img src="1.png" alt="Widok strony głównej 1" onclick="openLightbox(0)">
    <img src="2.png" alt="Widok strony głównej 2" onclick="openLightbox(1)">
    <img src="3.png" alt="Widok strony głównej 3" onclick="openLightbox(2)">
    <img src="4.png" alt="Widok podstrony 'O grze'" onclick="openLightbox(3)">
    <img src="5.png" alt="Widok galerii" onclick="openLightbox(4)">
    <img src="6.png" alt="Widok zdjęcia w galerii" onclick="openLightbox(5)">
    <img src="7.png" alt="Widok forum" onclick="openLightbox(6)">
    <img src="8.png" alt="Widok posta na forum" onclick="openLightbox(7)">
    <img src="9.png" alt="Widok posta na forum z komentarzem" onclick="openLightbox(8)">
    <img src="10.png" alt="Widok zarządzania postami na forum" onclick="openLightbox(9)">
    <img src="10.2.png" alt="Widok edycji posta na forum" onclick="openLightbox(10)">
    <img src="11.png" alt="Widok devloga" onclick="openLightbox(11)">
    <img src="12.png" alt="Widok posta na devlogu" onclick="openLightbox(12)">
    <img src="13.png" alt="Widok profilu użytkownika" onclick="openLightbox(13)">
    <img src="13.1.png" alt="Widok panela administratora" onclick="openLightbox(14)">
    <img src="13.2.png" alt="Widok zarządzania  postami na devlogu od strony administratora" onclick="openLightbox(15)">
    <img src="13.3.png" alt="Widok zarządzania zdjęciami w galerii od strony administratora""Widok strony głównej" onclick="openLightbox(16)">
    <img src="13.4.png" alt="Widok dodawania posta do devloga od strony administratora" onclick="openLightbox(17)">
    <img src="13.5.png" alt="Widok dodawania pliku do galerii od strony administratora" onclick="openLightbox(18)">
    <img src="13.6.png" alt="Widok zarządzania użytkownikami od strony administratora" onclick="openLightbox(19)">
    <img src="13.7.png" alt="Widok zarządzania komentarzami na devlogu od strony administratora" onclick="openLightbox(20)">
    <img src="13.8.png" alt="Widok zarządzania postami na forum od strony administratora" onclick="openLightbox(21)">
    <img src="13.9.png" alt="Widok zarządzania komentarzami na forum od strony administratora" onclick="openLightbox(22)">
    <img src="14.png" alt="Widok logowania" onclick="openLightbox(23)">
    <img src="15.png" alt="Widok rejestracji" onclick="openLightbox(24)">
  </div>
</div>

<div id="lightbox">
  <span class="close" onclick="closeLightbox()">&times;</span>
  <button class="arrow prev" onclick="changeImage(-1)">&#10094;</button>
  <img id="lightbox-img" src="" alt="">
  <button class="arrow next" onclick="changeImage(1)">&#10095;</button>
</div>


<script src="../../js/script.js"></script>

</body>
</html>