<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Jabłko - Zbrush - Emilia Szczerba</title>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" type="image/png" href="../../assets/favicon.png">
</head>
<body class = "subpage">

<button class="lang-toggle" onclick="toggleLanguage()">EN</button>

<div class="container">
    <a href="../../index.html?page=projects" class="btn-back">
        <span class="pl">← Wróć do spisu projektów</span>
        <span class="en">← Back to projects</span>
    </a>

    <h1>
        <span class="pl">Projekt: Wyrzeźbione jabłko</span>
        <span class="en">Project: Sculpted apple</span>
    </h1>

    <div class="description">
        <div class="pl">
            <p>Projekt przedstawia cyfrowy model jabłka wykonany w programie <strong>ZBrush</strong>. Głównym założeniem było stworzenie realistycznie wyglądającego owocu z zachowaniem naturalnych i asymetrycznych kształtów. Skupiłam się na rzeźbieniu drobnych detali powierzchni (takich jak wgniecenia przy ogonku) oraz na nałożeniu podstawowych kolorów (Polypaint). Poniżej znajduje się interaktywny podgląd wyeksportowanego modelu 3D.</p>
        </div>
        <div class="en">
            <p>The project presents a digital model of an apple created in <strong>ZBrush</strong>. The main goal was to create a realistic-looking fruit while maintaining natural and asymmetrical shapes. I focused on sculpting fine surface details (such as dents near the stem) and applying basic colors (Polypaint). Below is an interactive preview of the exported 3D model.</p>
        </div>

        <a href="apple.ZPR" download class="btn-download">
            <span class="pl">Pobierz plik ZBrush Project (.ZPR)</span>
            <span class="en">Download ZBrush Project file (.ZPR)</span>
        </a>
    </div>

    <div class="sketchfab-embed-wrapper">
        <iframe title="Apple" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/636864608d5944afb3d4709b31c43485/embed">
        </iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
            <a href="https://sketchfab.com/3d-models/apple-636864608d5944afb3d4709b31c43485?utm_medium=embed&utm_campaign=share-popup&utm_content=636864608d5944afb3d4709b31c43485" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> Apple </a>
            by <a href="https://sketchfab.com/emily_cb97?utm_medium=embed&utm_campaign=share-popup&utm_content=636864608d5944afb3d4709b31c43485" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> emily_cb97
        </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=636864608d5944afb3d4709b31c43485" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
    </div>
</div>

<script src="../../js/script.js"></script>
</body>
</html>