<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ręka - sculpting - Emilia Szczerba</title>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
</head>
<body class="subpage">

<div class="container">
    <a href="../../index.html?page=projects" class="btn-back">← Wróć do spisu projektów</a>

    <h1>Projekt: Wyrzeźbiona własna dłoń</h1>

    <div class="description">
        <p>Realistyczny model 3D stanowiący studium anatomii własnej dłoni. Projekt został wyrzeźbiony od podstaw w programie <strong>Blender</strong>, z naciskiem na oddanie naturalnych proporcji, zagięć skóry oraz asymetrycznego, organicznego charakteru. Poniżej znajduje się interaktywny podgląd wyeksportowanego modelu w formacie GLB.</p>
        <a href="hand.blend" download class="btn-download">Pobierz model (.blend)</a>
    </div>

    <div id="model-container" class="sketchfab-embed-wrapper" style="position: relative; height: 600px; background: #111; border-radius: 8px; border: 1px solid #333; overflow: hidden;">

        <button class="fullscreen-btn" onclick="toggleFullscreen('model-container')">⛶ Pełny ekran</button>

        <model-viewer
                src="hand.glb"
                alt="Model ręki"
                camera-controls
                auto-rotate
                shadow-intensity="2"
                exposure="0.1"
                style="width: 100%; height: 100%;">
        </model-viewer>
    </div>
</div>

<script src="../../js/script.js"></script>

</body>
</html>